absl-py==1.0.0
apparmor==3.0.4
appdirs==1.4.4
application-utility==1.3.2
astor==0.8.1
astunparse==1.6.3
bleach==4.1.0
btrfsutil==5.16.2
CacheControl==0.12.6
cachetools==4.2.4
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
cupshelpers==1.0
decorator==5.1.1
distlib==0.3.4
distro==1.7.0
dnspython==2.2.0
docopt==0.6.2
filelock==3.4.2
flatbuffers==2.0
gast==0.5.3
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
gviz-api==1.10.0
h5py==3.6.0
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
keras==2.8.0rc1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyutils==0.6
LibAppArmor==3.0.4
libclang==12.0.0
libtorrent===2.0.5-build-libtorrent-rasterbar-src-libtorrent-rasterbar-2.0.5-bindings-python
lit==13.0.1.dev0
louis==3.20.0
manjaro-sdk==0.1
Markdown==3.3.6
more-itertools==8.10.0
msgpack==1.0.3
netsnmp-python==1.0a1
npyscreen==4.10.5
numpy==1.22.1
oauthlib==3.1.1
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.23.2
pandas==1.4.1
pathspec==0.9.0
pep517==0.12.0
Pillow==9.0.1
platformdirs==2.4.1
ply==3.11
progress==1.6
protobuf==3.19.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.1
pycairo==1.20.1
pycparser==2.21
pycuda==2021.1
pycups==2.0.1
pycurl==7.44.1
pydot==1.4.2
PyGObject==3.42.0
pyOpenSSL==21.0.0
pyparsing==3.0.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
PySide6==6.2.3
pysmbc==1.0.23
python-dateutil==2.8.2
pytools==2022.1
pytz==2021.3
PyYAML==6.0
rados==2.0.0
rbd==2.0.0
reportlab==3.6.6
requests==2.27.1
requests-oauthlib==1.3.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
rsa==4.8
scipy==1.8.0
shiboken6==6.2.3
six==1.16.0
team==1.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-profile==2.5.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-estimator @ file:///build/python-tensorflow-estimator/src/estimator_pip/tensorflow_estimator-2.7.0-py2.py3-none-any.whl
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
toml==0.10.2
tomli==2.0.0
typing_extensions==4.0.1
udiskie==2.4.1
urllib3==1.26.8
virtualenv==20.13.0
webencodings==0.5.1
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.7.0
